 <section class="mt-5">
    <h1 class="is-size-2 mt-6 mb-6 has-text-centered"> Opps! </h1>
    <p>Forgot to add something to your cart? Shop around then come back to pay!</p>
    <%= link_to 'Continue browsing', product_all_path , class: "button is-link mt-5" %>
  </section>