<h1>Home#index</h1>
<p><%= debug session[:cart] %></p>

<% @categories.each do |category| %>
  <p>
    <%= category.categoryname %>
    <%= link_to category.categoryname, category_path(category) %>
  </p>
<% end %>
