<h1>Contact Page</h1>
<p>Call Us at: <%= @contact.phonenumber %></p>
<p>Email Address: <%= @contact.email %></p>
<p>Opening Hours: <%= @contact.openinghours %></p>
FAQ:
<textarea><%= @contact.faq %></textarea>
